extends base.pug

block content
  main
    .flex-box.ma--top-side
      img.icon--large(src='../img/left-arrow.svg' alt='Back Arrow' onclick='history.back()')
      .text--h1.ma--side Account
    form.form--user-settings  
      .box-container
          //- banner image 
          label.text-base--2.ma--side(for='banner-image' class='image-box__cover-box')
              img(src=`../img/users/${user.banner}` alt=' ' class='image-box__cover-img')
          input#banner-image.input--text(type='file' style="display:none" accept='image/*' placeholder='Banner Image')
          //- profile image
          label.text-base--2.ma--side(for='profile-image' class='image-box__profile-box') 
              img(src=`../img/users/${user.avatar}` alt=' ' class='image-box__profile-img')
          input#profile-image.input--text(type='file' style="display:none" accept='image/*' placeholder='Profile Image')
          label.text-base--2.ma--side(for='name') Name
          input#name.input--text(type='text' value=`${user.name}` placeholder='Name')
          label.text-base--2.ma--side(for='user-name') Username
          input#user-name.input--text(type='text' value=`${user.userName}` placeholder='Username')
          label.text-base--2.ma--side(for='user-bio') Bio
          textarea#user-bio.input--text(name='user-bio' cols='30' rows='10' placeholder='Bio')
              = user.userBio
          label.text-base--2.ma--side(for='email') Email
          input#email.input--text(type='email' name='email' value=`${user.email}` placeholder='E-mail')
          button.btn.btn--primary.btn--save-data(type='submit') Save
