doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title sign-up
main
  .flex-box.ma--top-side
    img.icon--large(src='../img/left-arrow.svg' alt='Back Arrow' onclick='history.back()')
    .text--h1.ma--side Social Links
  form.form--user-socialSettings.box-container
    label.text-base--2.ma--side Email
    input#social-email.input--text(type='email' placeholder='E-mail' value=`${user.socialLinks.email ? user.socialLinks.email : ""}`)
    label.text-base--2.ma--side Phone
    input#social-phone-number.input--text(type='number' placeholder='Phone number' value=`${user.socialLinks.phone ? user.socialLinks.phone : ""}`)
    label.text-base--2.ma--side Instagram
    input#social-instagram.input--text(type='text' placeholder='Instagram' value=`${user.socialLinks.instagram ? user.socialLinks.instagram : ""}`)
    label.text-base--2.ma--side Twitter
    input#social-twitter.input--text(type='text' placeholder='twitter' value=`${user.socialLinks.twitter ? user.socialLinks.twitter : ""}`)
    label.text-base--2.ma--side Snapchat
    input#social-snapchat.input--text(type='text' placeholder='Snapchat' value=`${user.socialLinks.snapchat ? user.socialLinks.snapchat : "" }`)
    label.text-base--2.ma--side Clubhouse
    input#social-clubhouse.input--text(type='text' placeholder='Clubhouse' value=`${user.socialLinks.clubhouse ? user.socialLinks.clubhouse : "" }`)
    button.btn.btn--primary.btn--save-data Save

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/js/index.js' type="module")