doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@400;500;600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/main.css')
  title= user.userName
.image-box
  .image-box__cover-box
    img.image-box__cover-img(src=`img/users/${user.banner}` alt='')
  .image-box__profile-box
    img.image-box__profile-img(src=`img/users/${user.avatar}` alt='')
.text-box
  h1.text-box__user-name= user.userName
  h1.text-box__user-name= user.name  
  p.text-box__user-bio= user.userBio
.social-link
  a.social-link__link(href=`${user.socialLinks.facebook}`)
    img.social-link__img(src=`/img/facebook.png` alt='')
  a.social-link__link(href=`${user.socialLinks.facebook}`)
    img.social-link__img(src=`/img/facebook.png` alt='')
  a.social-link__link(href=`${user.socialLinks.facebook}`)
    img.social-link__img(src=`/img/facebook.png` alt='')
  a.social-link__link(href=`${user.socialLinks.facebook}`)
    img.social-link__img(src=`/img/facebook.png` alt='')
.media-link
  each link in user.links
    a.media-link__box(href=`${link.link}`)
      img.media-link__img(src=`./img/link-image/${link.photo}` alt='')
      .media-link__text-holder
        h4.media-link__title= link.linkName
        p.media-link__description= link.linkDescription
      img.media-link__icon(src='./img/link-icon.svg')
.brand-tag
  span.brand-tag__powered-by Powered By
  span.brand-tag__app-name AstroLink
