doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@400;500;600&display=swap' rel='stylesheet')
    link(href='http://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003' rel='stylesheet')
    link(rel='stylesheet' href='css/main.css')
    title= `AstroLink | ${user.name}`
  body
    .image-box
      div(class='image-box__cover-box')
        img(src=`img/users/${user.banner}` alt=' ' class='image-box__cover-img')
      div(class='image-box__profile-box')
        img(src=`img/users/${user.avatar}` alt=' ' class='image-box__profile-img')
    .text-box
      h1(class='text-box__name')= user.name  
      h1(class='text-box__user-name')= `@${user.userName}`
      p(class='text-box__user-bio')= user.userBio
    .button-container
      button.btn.btn--secondary
        a.link(href='/settings') Edit Profile
      button.btn.btn--primary Share
    .text--h2.border-bottom.margin-bottom.padding--up-side-down Soical
    .social-link
      a(href='/social-links' class='social-link__link')
        img(src='./img/plus.svg' alt='' class='social-link__img')
      
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/Facebook.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/Twitter.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/Snapchat - Alternate.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/TikTok.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/YouTube.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/TikTok.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/Facebook.png' alt='' class='social-link__img')
      a(href='#' class='social-link__link' target='_blank')
        img(src='./img/Twitter.png' alt='' class='social-link__img')
    .text--h2.border-bottom.margin-bottom.padding--up-side-down Links
    .media-link
    
      a(href='/add-link' class='media-link__box')
        img(src='./img/plus.svg' alt='' class='media-link__img--plus ')
        div(class='media-link__text-holder')
          h4(class='media-link__title') Add link

      each link in user.links    
        a(href=`${link.link}` class='media-link__box' target='_blank')
          if link.photo
            img(src=`./img/link-image/${link.photo}` alt='' class='media-link__img')
          div(class='media-link__text-holder')
            h4(class='media-link__title')= link.linkName
            if link.linkDescription
              p(class='media-link__description')= link.linkDescription
          img(class='media-link__icon' src='./img/link-icon.svg')
    footer
      .brand-tag
        span(class='brand-tag__powered-by') Powered By
        span(class='brand-tag__app-name') AstroLink
