doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@400;500;600&display=swap' rel='stylesheet')
    link(href='http://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003' rel='stylesheet')
    link(rel='stylesheet' href='css/main.css')
    title= `AstroLink | ${user.name}`
  body
    //- App Option TAB
    .more-option
      if loggedIn 
        a(href='/settings').more-option__icon
          img.more-option__icon--img(src='./img/ic24-settings.svg')
      if !loggedIn
        input#navi-toggle.more-option__checkbox(type='checkbox')
        label.more-option__icon(for='navi-toggle')
          img.more-option__icon--img(src='./img/more-option-icon--white.svg')
        .more-option__list
          ul
            li.more-option__list--option
              a(href='/signup') Sign-up
    //- Link Option TAB
    .link-option
      div
        ul.link-option__list
          li.link-option__option
            a#link-option--open(href='#') Open
          li.link-option__option
            a#link-option--edit(href='#') Edit
          li.link-option__option
            a#link-option--delete(data-linkId='') Delete

    .image-box
      div(class='image-box__cover-box')
        if user.banner
          div(style=`background-image: url(./img/users/${user.banner});` class='image-box__cover-img')
      div(class='image-box__profile-box')
        img(src=`img/users/${user.avatar}` alt=' ' class='image-box__profile-img')
    .text-box
      h1(class='text-box__name')= user.name  
      h1(class='text-box__user-name')= `@${user.userName}`
      p(class='text-box__user-bio')= user.userBio
    .social-link
      if loggedIn
        a(href='/settings/social' class='social-link__link')
          img(src='./img/plus.svg' alt='' class='social-link__img')

      if user.socialLinks.email
        a(href=`mailto:${user.socialLinks.email}` class='social-link__link')
          img(src='./img/email.svg' alt='Email' class='social-link__img')
      if user.socialLinks.phone
        a(href=`tel: ${user.socialLinks.phone}` class='social-link__link')
          img(src='./img/phone.svg' alt='Phone' class='social-link__img')
      if user.socialLinks.instagram
        a(href=`https://www.instagram.com/${user.socialLinks.instagram}` class='social-link__link' target='_blank')
          img(src='./img/instagram.svg' alt='instagram' class='social-link__img')
      if user.socialLinks.twitter
        a(href=`https://twitter.com/${user.socialLinks.twitter}` class='social-link__link' target='_blank')
          img(src='./img/twitter.svg' alt='twitter' class='social-link__img')
      if user.socialLinks.snapchat
        a(href=`https://snapchat.com/add/${user.socialLinks.snapchat}` class='social-link__link' target='_blank')
          img(src='./img/Snapchat.svg' alt='snapchat' class='social-link__img')
      if user.socialLinks.clubhouse
        a(href=`https://clubhouse.com/@${user.socialLinks.clubhouse}` class='social-link__link' target='_blank')
          img(src='./img/clubhouse.png' alt='clubhouse' class='social-link__img')
    if loggedIn
      .button-container
        button.btn.btn--secondary
          a.link(href='/settings/account') Edit Profile
        button.btn.btn--primary Share
    .text--h2.border-bottom.margin-bottom.padding--up-side-down Links
    .media-link
      if loggedIn
        a(href='/add-link' class='media-link__box')
          img(src='./img/plus.svg' alt='' class='media-link__img--plus ')
          div(class='media-link__text-holder')
            h4(class='media-link__title') Add link
      if !loggedIn
        each link in user.links    
          a(href=`${link.link}` class='media-link__box' target='_blank')
            if link.photo
              img(src=`./img/link-image/${link.photo}` alt='' class='media-link__img')
            div(class='media-link__text-holder')
              h4(class='media-link__title')= link.linkName
              if link.linkDescription
                p(class='media-link__description')= link.linkDescription
            img(class='media-link__icon' src='./img/link-icon.svg')
      else   
        each link in user.links
          .media-link__box(id=`${link.id}` data-link=`${link.link}`)
            if link.photo
              img.media-link__img(src=`./img/link-image/${link.photo}` alt='')
            .media-link__text-holder
              h4.media-link__title= link.linkName
              if link.linkDescription
                p.media-link__description= link.linkDescription
            img.media-link__icon(src='./img/more-option-icon--black.svg')    
    include _footer.pug
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/js/style.js' type="module")
    script(src='/js/index.js' type="module")
